{{ if eq .chezmoi.os "darwin" }}
# Set PATH, MANPATH, etc., for Homebrew.
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}

# mise shims.
if ! command -v mise > /dev/null 2>&1; then
    eval "$(mise activate zsh --shims)"
fi
