#!/bin/bash

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}

if ! command -v uv > /dev/null 2>&1; then
    curl -LsSf https://astral.sh/uv/install.sh | sh
fi
if ! command -v starship > /dev/null 2>&1; then
    curl -sS https://starship.rs/install.sh | sh -s -- -y
fi

ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit"
if [ ! -d $ZINIT_HOME/.git ]; then
    mkdir -p "$(dirname $ZINIT_HOME)"
    git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

{{ end }}

{{ if eq .chezmoi.os "darwin" }}

mkdir -p ~/Library/Fonts
curl https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Mono-Regular.ttf -Lo ~/Library/Fonts/RobotoMonoJP-Mono-Regular.ttf
fc-cache

{{ else if eq .chezmoi.os "linux" }}

{{ if eq .chezmoi.osRelease.idLike "debian" }}

# install zsh
if ! command -v zsh > /dev/null 2>&1; then
    sudo apt update
    sudo apt install -y zsh
    sudo chsh $USER -s /bin/zsh
fi


{{ end }}

if [ ! -d /.dockerenv ]; then
    # font
    mkdir -p ~/.fonts
    curl https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Mono-Regular.ttf -Lo ~/.fonts/RobotoMonoJP-Mono-Regular.ttf
    fc-cache
fi

{{ end }}
