#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

which uv || curl -LsSf https://astral.sh/uv/install.sh | sh
which starship || curl -sS https://starship.rs/install.sh | sh

{{ else if eq .chezmoi.os "linux" }}

{{ if eq .chezmoi.osRelease.idLike "debian" }}

if ! command -v zsh > /dev/null 2>&1; then
    sudo apt update
    sudo apt install -y zsh
    sudo chsh $USER -s /bin/zsh
fi

ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit"
if [ ! -d $ZINIT_HOME/.git ]; then
    mkdir -p "$(dirname $ZINIT_HOME)"
    git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

{{ end }}

if ! command -v uv > /dev/null 2>&1; then
    curl -LsSf https://astral.sh/uv/install.sh | sh
fi
if ! command -v starship > /dev/null 2>&1; then
    curl -sS https://starship.rs/install.sh | sh -s -- -y
fi

{{ end }}
