[tools]
# Core
"ubi:rossmacarthur/sheldon" = "latest"
starship = "latest"
usage = "latest"

# Git
{{ if eq (env "CHEZMOI_GIT" | default "true") "true" -}}
lefthook = "latest"
gh = "latest"
{{- end }}

# Replacements for Unix CLI tools
{{ if eq (env "CHEZMOI_REPLACEMENTS_UNIX_CLI" | default "true") "true" -}}
bat = "latest"
bottom = "latest"
duf = "latest"
dust = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
hyperfine = "latest"
ripgrep = "latest"
"ubi:tldr-pages/tlrc" = { version = "latest", exe = "tldr" }
"ubi:imsnif/bandwhich" = "latest"
xh = "latest"
zoxide = "latest"
{{- end }}

# Parser
{{ if eq (env "CHEZMOI_PARSER" | default "true") "true" -}}
jq = "latest"
yq = "latest"
{{- end }}

# Spell Checker
{{ if eq (env "CHEZMOI_SPELL_CHECKER" | default "true") "true" -}}
typos = "latest"
{{- end }}

# Generic formatter
{{ if eq (env "CHEZMOI_UNIVERSAL_FORMATTER" | default "true") "true" -}}
dprint = "latest"
{{- end }}

# Docker
{{ if eq (env "CHEZMOI_DOCKER" | default "true") "true" -}}
dagger = "latest"
lazydocker = "latest"
{{- end }}

# Python
{{ if eq (env "CHEZMOI_PYTHON" | default "true") "true" -}}
uv = "latest"
ruff = "latest"
{{- end }}

# Node.js
{{ if eq (env "CHEZMOI_NODEJS" | default "true") "true" -}}
node = "24"
{{- end }}

# Claude
{{ if eq (env "CHEZMOI_CLAUDE" | default "true") "true" -}}
"npm:ccusage" = "latest"
claude = "latest"
{{- end }}

# Codex
{{ if eq (env "CHEZMOI_CODEX" | default "true") "true" -}}
"ubi:openai/codex" = { version = "latest", matching_regex = "^codex-(x86_64|aarch64|arm64|amd64|i686).*" }
{{- end }}

[settings]
disable_tools = ["python"]

[env]
DISABLE_AUTOUPDATER = "1"
