{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash
# Required: curl, git

if ! command -v uv > /dev/null 2>&1; then
    curl -LsSf https://astral.sh/uv/install.sh | sh
fi
if ! command -v task > /dev/null 2>&1; then
    sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin
fi
if ! command -v starship > /dev/null 2>&1; then
    curl -sS https://starship.rs/install.sh | sh -s -- -y -b ~/.local/bin
fi

# install zinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit"
if [ ! -d $ZINIT_HOME/.git ]; then
    mkdir -p "$(dirname $ZINIT_HOME)"
    git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

{{ end }}

{{ if eq .chezmoi.os "darwin" }}

# install font
FONT_DIR=~/Library/Fonts
mkdir -p ${FONT_DIR}
if [ ! -f "${FONT_DIR}/RobotoMonoJP-Mono-Regular.ttf" ]; then
    curl https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Mono-Regular.ttf -Lo $FONT_DIR/RobotoMonoJP-Mono-Regular.ttf
    fc-cache
fi

{{ else if eq .chezmoi.os "linux" }}

{{   if eq .chezmoi.osRelease.idLike "debian" }}

# install zsh
if ! command -v zsh > /dev/null 2>&1; then
    sudo apt update
    sudo apt install -y zsh
    sudo chsh $USER -s /bin/zsh
fi

# install locale
if ! apt list --installed 2>/dev/null | grep -q locales; then
    sudo apt install -y locales
fi
if ! apt list --installed 2>/dev/null | grep -q locales-all; then
    sudo apt install -y locales-all
    sudo locale-gen en_US.UTF-8
fi

{{   end }}

if [ ! -f /.dockerenv ]; then
    # install font
    mkdir -p ~/.fonts
    curl https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Mono-Regular.ttf -Lo ~/.fonts/RobotoMonoJP-Mono-Regular.ttf
    fc-cache
fi

{{ end }}
